.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('./assets/pizza-patrones-fisuras_373337-10.jpg');
}

form {
  display: flex;
  flex-direction: column;
}