/* Estilos para el contenedor de SearchBar */
.SearchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    width: 100%;
    padding: 10px;
}

/* Estilos para el contenedor del input de búsqueda y el botón "Search" */
.SearchBar__inputContainer {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 10px;
}

.SearchBar__input {
    border: 1px solid rgb(131, 131, 131);
    border-radius: 5px 0 0 5px;
    border-right: none;
    height: 50px;
    padding-inline: .5em;
    font-size: 1.2em;
}

.SearchBar__input:focus {
    outline: none;
}

/* Estilos para el botón "Search" */
.SearchBar__searchButton {
    border: 1px solid rgb(131, 131, 131);
    border-radius: 0 5px 5px 0;
    background-color: transparent;
    cursor: pointer;
    color: #696969;
    font-size: 1.2em;
    width: 50px;
    height: 50px;
}

.SearchBar__searchButton::before {
    content: '\f002';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2em;
}

/* Estilos para el contenedor de resultados */
.SearchBar__results__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchBar__results {
    position: absolute;
    right: 50px;
    padding: 10px;
    border: none;
    width: auto;
    background: transparent;
}

.SearchBar__clearButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: #999;
}