@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

.form__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
    height: 100%;
    box-shadow: 3px 3px 10px black;
    background-color: rgba(146, 19, 19, 0.747);
}

.form__label {
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 2em;
    letter-spacing: .2rem;
    font-family: 'Shadows Into Light Two', cursive;
}

.form__input {
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    border: none;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    background-color: transparent;
    transition: all .3s;

}

.form__textarea {
    margin: 10px 0;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    border: none;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    background-color: transparent;
}

.input__range {
    margin: 10px;
    padding: 20px;

}

.form__input:focus,
.form__textarea:focus {
    outline: none;
}